In [1]:
# Decision Tree Classification

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [9]:
dataset=pd.read_csv("C:/Users/mohd tareq siddiqui/Desktop/DS ML Files/Social_Network_Ads.csv")

In [10]:
dataset.head()

   Age  EstimatedSalary  Purchased
0   19            19000          0
1   35            20000          0
2   26            43000          0
3   27            57000          0
4   19            76000          0

In [11]:
dataset['Purchased'].unique()

array([0, 1], dtype=int64)

In [12]:
dataset.describe()

              Age  EstimatedSalary   Purchased
count  400.000000       400.000000  400.000000
mean    37.655000     69742.500000    0.357500
std     10.482877     34096.960282    0.479864
min     18.000000     15000.000000    0.000000
25%     29.750000     43000.000000    0.000000
50%     37.000000     70000.000000    0.000000
75%     46.000000     88000.000000    1.000000
max     60.000000    150000.000000    1.000000

In [13]:
dataset.isnull().any()

Age                False
EstimatedSalary    False
Purchased          False
dtype: bool

In [14]:
X=dataset.drop('Purchased',1)
y=dataset['Purchased']

C:\Users\MOHDTA~1\AppData\Local\Temp/ipykernel_8340/3810699226.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  X=dataset.drop('Purchased',1)

In [15]:
# Splitting the dataset into training set and test set
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25,random_state=0)

In [18]:
# For bringing the values into a plausible range

# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

In [20]:
# Training the Decision Tree Classification model on the training set
from sklearn.tree import DecisionTreeClassifier
classifier=DecisionTreeClassifier(criterion='entropy',random_state=0)
classifier.fit(X_train,y_train)

DecisionTreeClassifier(criterion='entropy', random_state=0)

In [21]:
# Predicting the test results
y_pred=classifier.predict(X_test)

In [22]:
# Making the confusion matrix
from sklearn.metrics import confusion_matrix, accuracy_score
cm=confusion_matrix(y_test,y_pred)
print(cm)
accuracy_score(y_test,y_pred)

[[62  6]
 [ 3 29]]

0.91